*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Body{
    background-color:  #111;
}
h1{
    color: #c2c2c2;
    font-size: 30px;
}
div{
    padding: 10px;
    margin: 0 auto;
    background: #222;
    box-shadow: 1px 1px 10px 1px red;
}
